<nav class="navbar is-dark" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <i class="fas fa-cloud-sun-rain fa-5x"></i> 
    </div>
  
    <div class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item" routerLink="">
          Current Temperature
        </a>
  
        <a class="navbar-item" routerLink="forecast">
          Five Day Forecast
        </a>
      </div>
  
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <input class="input" placeholder="Search City...">
          </div>
        </div>
      </div>
    </div>
</nav>