<div class='has-background-light'>
    <div class='container' >
        <section class="section ">
            <h1 class="title">Current Temperature</h1>
            <div class="box content has-background-grey-lighter" *ngIf="showTemps">
                <h2 class="title">{{todayTempData.City}}  <span class="has-text-link-dark">{{todayTempData.Current}}°F </span><img src ="http://openweathermap.org/img/w/{{this.weatherData.weather[0].icon}}.png"></h2>
                <table class="table has-background-link-light has-text-centered">
                    <tbody>
                        <tr>
                            <th class="has-text-success">High: </th>
                            <td>{{todayTempData.High}}°F</td>
                        </tr>
                        <tr>
                            <th class="has-text-danger">Low: </th>
                            <td>{{todayTempData.Low}}°F</td>
                        </tr>
                        <tr>
                            <th>Feels Like: </th>
                            <td>{{todayTempData.FeelsLike}}°F</td>
                        </tr>
                    </tbody>

                </table>
            </div>
            <div class="box" *ngIf="!showTemps">
                <p class="has-text-centered">Loading...</p>
                <progress class="progress is-primary" *ngIf='!badRequest' max="100">30%</progress>
            </div>
            <div class="box" *ngIf='badRequest'>
                <h2>Unable to get weather for your current location. Please refresh and try again</h2>
            </div>
        </section>
    </div>
</div>