<div class='has-background-light'>
    <div class='container' >
        <section class="section ">
            <h1 class="title">Current Temperature</h1>
            <div class="buttons">
                <input #inputField class="input" placeholder="Search City..." (keyup.enter)="search(inputField.value)">
            </div>
            <div class="box" *ngIf="showTemps">
                <h2 class="title">{{this.weatherData.name}}  <a>{{convertTemp(this.weatherData.main.temp)}} °F</a></h2>
                <table class="table">
                    <tbody>
                        <tr>
                            <th class="has-text-success">High: </th>
                            <td>{{convertTemp(this.weatherData.main.temp_max)}}°F</td>
                        </tr>
                        <tr>
                            <th class="has-text-danger">Low: </th>
                            <td>{{convertTemp(this.weatherData.main.temp_min)}}°F</td>
                        </tr>
                        <tr>
                            <th>Feels Like: </th>
                            <td>{{convertTemp(this.weatherData.main.feels_like)}}°F</td>
                        </tr>
                    </tbody>

                </table>
            </div>
            <div class="box" *ngIf='badRequest'>
                <h2>Unable to get weather for "{{inputField.value}}"</h2>
            </div>
        </section>
    </div>
</div>